*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #ffffff;
}
header{
    width:368px;
    margin: auto;
    text-align: center;
}
.line{
    margin: 10px auto;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
}
header p{
    font-size: 18px;
    color: #bbb;
}
.fifth{
    height: 2000px;
    background-color: #000;
    color: #fff;
}
.fifth .fImg{
    background-image: url("../images/blackhole.png");
    width: 800px;
    height: 800px;
    margin:auto;
    animation: fImg 10s linear infinite;
}
@keyframes fImg {
    100%{
        transform: rotateZ(360deg);
    }
}
.fifth .fContent{
    width: 800px;
    height: 800px;
    margin:auto;
    position: relative;
    margin-top: -800px;
}
.fifth .fContent>div{
    position: absolute;
}
.fifth .fContent>div span{
    font-size: 32px;
}
.fifth .fContent>div dl{

}
.fifth .fContent>div dl dt{
    font-size: 18px;
    font-weight: bold;
}
.fifth .fContent>div dl dd{
    font-size:12px;
}
.fifth .fContent>div dl dd p{
    line-height: 1.5em;
}
.fifth .fContent>div:nth-of-type(1){
    top:50%;
    left: 170px;
    margin-top: -47.5px;
}
.fifth .fContent>div:nth-of-type(2){
    left: 50%;
    top: 170px;
    margin-left: -56px;
}
.fifth .fContent>div:nth-of-type(2) span{
    position: absolute;
    margin-top: -5px;
}
.fifth .fContent>div:nth-of-type(2) dl{
    margin-left:40px;
}
.fifth .fContent>div:nth-of-type(3){
    top: 50%;
    right:170px;
    margin-top: -47.5px;
    text-align: right;
}
.fifth .fContent>div:nth-of-type(4){
    bottom: 170px;
    left:50%;
    margin-left: -50px;
    text-align: right;
}
.fifth .fContent>div:nth-of-type(4) span{
    position: absolute;
    right:0;
    margin-top:-5px;
}
.fifth .fContent>div:nth-of-type(4) dl{
    margin-right: 40px;
}
.baoming a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.baoming{
    background-color: #08b573;
    width:100px;
    height: 50px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    animation: colors 5s infinite;
}
@keyframes colors {
    0%{
        background-color: #84050e;
    }
    50%{
        background-color: #08b573;
    }
    100%{
        background-color: #b60202;
    }
}